version: '3.9'
services:
  postgres:
    image: postgres:14.0-alpine
    container_name: postgres
    restart: unless-stopped
    volumes:
      - postgresql_db:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 3s

  pgadmin4:
    image: dpage/pgadmin4:7.5
    container_name: pgadmin4
    depends_on:
      - postgres
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pgadmin.rule=Host(`pgadmin.lotcars.com`)"
      - "traefik.http.routers.pgadmin.entrypoints=websecure"
      - "traefik.http.routers.pgadmin.tls.certresolver=myresolver"
      - "traefik.http.routers.pgadmin.service=pgadmin-service"
      - "traefik.http.services.pgadmin-service.loadbalancer.server.port=80"

  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBIT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASSWORD}
    restart: always
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  betcar:
    container_name: betcar
    build:
      target: production
      context: ./backend
      dockerfile: ./apps/betcar/Dockerfile_prod
    depends_on:
      - postgres
      - rabbitmq
    restart: always
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.betcar.rule=Host(`api.service.lotcars.com`)"
      - "traefik.http.routers.betcar.entrypoints=websecure"
      - "traefik.http.routers.betcar.tls.certresolver=myresolver"
      - "traefik.http.routers.betcar.service=betcar-service"
      - "traefik.http.services.betcar-service.loadbalancer.server.port=4000"

  users:
    container_name: users
    build:
      target: production
      context: ./backend
      dockerfile: ./apps/betcar-users/Dockerfile_prod
    depends_on:
      - postgres
      - rabbitmq
      - betcar
    restart: always
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.users.rule=Host(`api.users.lotcars.com`)"
      - "traefik.http.routers.users.entrypoints=websecure"
      - "traefik.http.routers.users.tls.certresolver=myresolver"
      - "traefik.http.routers.users.service=users-service"
      - "traefik.http.services.users-service.loadbalancer.server.port=3000"

  uploader:
    container_name: uploader
    build:
      target: production
      context: ./backend
      dockerfile: ./apps/uploader/Dockerfile_prod
    depends_on:
      - postgres
      - rabbitmq
      - betcar
    restart: always
    env_file:
      - .env
    volumes:
      - ~/cdn/static/:/dist/apps/uploader/static/
      - ~/cdn/uploads/:/dist/apps/uploader/uploads/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uploader.rule=Host(`api.uploader.lotcars.com`)"
      - "traefik.http.routers.uploader.entrypoints=websecure"
      - "traefik.http.routers.uploader.tls.certresolver=myresolver"
      - "traefik.http.routers.uploader.service=uploader-service"
      - "traefik.http.services.uploader-service.loadbalancer.server.port=6000"

  frontend:
    build:
      target: production
      context: ./betcar-front/site
      dockerfile: Dockerfile_prod
    container_name: frontend
    depends_on:
      - betcar
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.front.rule=Host(`lotcars.com`)"
      - "traefik.http.routers.front.entrypoints=websecure"
      - "traefik.http.routers.front.tls.certresolver=myresolver"
      - "traefik.http.routers.front.service=front-service"
      - "traefik.http.services.front-service.loadbalancer.server.port=8080"

  traefik:
    image: traefik:v3.0
    container_name: traefik
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--certificatesresolvers.myresolver.acme.httpchallenge=web"
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=info@lotcars.com"
    ports:
      - 80:80
      - 443:443
    labels:
      - "traefik.enable=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ~/letsencrypt:/letsencrypt
      - ~/traefik_config/:/etc/traefik

volumes:
  postgresql_db:
  pgadmin-data:
