name: Deploy backend betcar services

on:
  push:
    branches:
      - main

jobs:
  deploy-services:
    runs-on: ubuntu-latest
    steps:
      - name: Connect and Deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ secrets.SSH_PROJECT_FOLDER }}
            git switch main
            git fetch origin main
            git merge -Xtheirs
            docker-compose -f ./docker-compose-build.yml up -d --build --no-deps betcar users
            docker system prune -a -f
